.swiper {
  width: 100%;
  max-width: 100vw;
  /* padding-top: 50px; */
  padding-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.characterImg {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 90vw;
  max-height: 80vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100px;
}

@media (width > 411px) {
  .swiper-slide {
    width: 105px;
  }
}

@media (width > 500px) {
  .swiper-slide {
    width: 15dvw;
  }
}

@media (width > 600px) {
  .swiper-slide {
    min-width: 120px;
    width: 7dvw;
  }

  .characterImg {
    object-fit: contain;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet {
  display: none;
}
