.swiper {
  width: 100%;
  max-width: 100vw;
  /* padding-top: 50px; */
  padding-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100px;
}

@media (width > 411px) {
  .swiper-slide {
    width: 150px;
  }
}

@media (width > 500px) {
  .swiper-slide {
    width: 15dvw;
  }
}

@media (width > 600px) {
  .swiper-slide {
    min-width: 120px;
    width: 8dvw;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet {
  display: none;
}
