@font-face {
  font-family: tungstenBold;

  src: url("https://db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.eot");
  src: url("https://db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.svg#Tungsten-Bold")
      format("svg");
}

@font-face {
  font-family: "DINNextW1G-Regular";
  src: url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.eot");
  src: url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.svg#DINNextW1G-Regular")
      format("svg");
}

:root {
  font-size: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
